/*======GENERAL STYLE======*/
/*body, .wraper, footer, main, .logo, .info, nav, div, p, ul {
    border: 1px solid green;
}*/
* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: Tahoma;
    font-size: 14px;
    background: url("../img/background.png") repeat-x;
    background-color: #0c749f; 
    /*color: #2c2c2c;*/
}
.wraper {
    background-color: white; 
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    border-bottom: 2px solid #031d28;
    box-shadow: 0px 0px 3px 3px #031d28;
    width: 1000px;
    margin: 0 auto 30px;
}
/*======END_GENERAL_STYLE======*/

/*======HEDER_STYLE======*/
header {
    padding: 10px 33px 0 27px;
    /*background-color: yellow;*/
    color: #128aa7;
    height: 166px;
}

.logo {
    position: relative;
    float: left;
}

.logo a h1 {
    position: absolute;
    top: 100px;
    left: 70px;
    font-size: 14px;
}
 
.contacts {
    float: right;
}

.contries_menu {
    float: right;
    clear: right;
    margin-top: 32px;
    font-size: 10px;

}
.contries_menu ul li {
    display: inline;
    float: left;
    margin: 0 8px;
    text-align: center;
    text-decoration: underline;
}

.contries_menu ul li img {
    display: block;
    margin: 0 auto;
}

header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.photo {
    height: 236px;
    color: #138aa7;
    border-bottom: 1px solid #138aa7;
    background: url("../img/header_photo.jpg") repeat-x 0 0;
}

    /*=======NAVIGATION_MENU======*/
    nav {
        background-color: #303030;
        border-bottom: 1px solid black;
        border-top: 1px solid #cacbcb;
        /*padding-left: 30px;*/
    }
    
    nav ul {
        font-size: 0;
        line-height: 0;
        letter-spacing: -1px;
    }
        
    nav ul li {
        display: block;
        position: relative;
        z-index: 1;
        padding: 0 52px 0 8px;
        color: #fff;
        cursor: pointer;
        font-size: 14px; 
        line-height: 30px;
        letter-spacing: normal;
        display: -moz-inline-stack!important;
        display: inline;
        //display: inline; /*==for IE==*/
        zoom: 1;
    }
    
    nav ul:first-child {
        padding-left: 30px;
    }
    nav ul li a {
        display: inline-block;
        height: 31px;
    }

    nav ul li ul {
        display: none;
        position: absolute;
        left: 0;
        top: 25px;
        background-color: #303030;
        width: 150px;
    }

    nav ul li ul li {
        display: block;
        float: none;
        line-height: 20px;
        padding: 0 8px;
    }

    nav ul li:hover ul{
       display: block;
    }
    /*======END_NAVIGATION_MENU======*/

/*======END_HEDER_STYLE======*/

/*====== MAIN ======*/

    main:after {
        content: '';
        clear: both;
        display: block;
    }

    .left_side {
        float: left;
        width: 209px;
        border-right: 1px solid grey;
        color: #303030;

    }
    
    .left_side h3,
    .right_side h3 {
        font-size: 18px;
        text-align: center;
    }

    .article {
       width: 580px;
       margin: 0 auto;
    }

    .right_side {
        float: right;
        width: 209px;
        border-left: 1px solid grey;
    }
    
/*====== /MAIN ======*/

/*=============FOOTER==============*/
footer {
    color: white;
    text-align: center;
    font-size: 14px;
}

/*============/FOOTER==============*/




